@charset "UTF-8";
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("TTLakes-Regular.woff") format("woff"), url("TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("TTLakes-Medium.woff") format("woff"), url("TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("TTLakes-Bold.woff") format("woff"), url("TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "TTLakes", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  overflow: hidden;
  min-width: 320px;
}

.header__upper-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 88px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d9fff5;
}
.header__upper-menu .upper-menu__burger-link:hover,
.header__upper-menu .upper-menu__repair-link:hover,
.header__upper-menu .upper-menu__check-status-link:hover,
.header__upper-menu .upper-menu__call:hover,
.header__upper-menu .upper-menu__chat:hover,
.header__upper-menu .upper-menu__profile:hover {
  cursor: pointer;
}
.header__upper-menu .upper-menu__logo-pic {
  height: 50.81px;
}
.header__upper-menu .upper-menu__divider-pic {
  height: 32px;
  width: 2px;
}
.header__upper-menu .upper-menu__divider-pad-view-pic,
.header__upper-menu .upper-menu__call,
.header__upper-menu .upper-menu__chat,
.header__upper-menu .upper-menu__profile {
  display: none;
}

.header__main-menu .header__main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__main-menu .header__main-title .main-menu__title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-left: 12px;
}

.header__main-menu,
.main-article,
.footer {
  background-color: #f8f8f8;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  /*overflow: hidden;*/
  text-shadow: none;
  background-color: transparent;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
}
.header__menu .header__desktop-header-menu {
  display: none;
}
.header__menu .menu-text {
  white-space: nowrap;
  color: #7e7e82;
}

button:hover {
  border: 2px solid #b8ffec;
  border-radius: 2px;
  background-color: #f8f8f8;
  cursor: pointer;
}

button {
  background-color: #f8f8f8;
  border-color: transparent;
  height: 40px;
  font-size: 16px;
  margin-right: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

button:active {
  cursor: pointer;
  color: turquoise;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 320px;
}
.main__article .article__item .article__paragraph {
  margin: 16px;
  background-color: #f8f8f8;
  font-family: "TTLakes", sans-serif;
}
.main__article .article__item .article__paragraph .hidden-text1,
.main__article .article__item .article__paragraph .hidden-text2 {
  display: none;
}
.main__article .article__item .article__read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main__article .article__item .article__read-more .article__read-more-button-text {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 8px;
  padding: 6px 0;
  width: 312px;
  height: auto;
  white-space: nowrap;
  cursor: not-allowed;
  border-radius: 0;
  text-decoration: none;
  color: #1b1c21;
}
.main__article .article__item .article__read-more .article__read-more-button-text:hover {
  cursor: pointer;
}
.main__article .article__item .article__read-more .article__read-more-button-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

/*@media screen and (min-width: 0) {
  body {
	width: 320px;
  }*/
/*}*/
@media screen and (min-width: 768px) {
  /*body {
  min-width: 768px;
   }*/
  .header__upper-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .upper-menu__logo-pic {
    margin-right: 250px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .header__menu {
    margin-top: 0px;
    overflow-x: auto;
  }
  .main__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1119px;
  }
  .article__paragraph {
    width: 312px;
    height: auto;
    margin-left: 0px;
  }
  .hidden-text1 {
    display: inline-block;
  }
  .hidden-text2 {
    display: none;
  }
  .article__image {
    width: 360px;
    height: 208px;
  }
  .header__desktop-header-menu {
    display: none;
  }
  .upper-menu__divider-pad-view-pic,
  .upper-menu__call,
  .upper-menu__chat,
  .upper-menu__profile {
    display: block;
    /*//должно работать*/
  }
}
@media screen and (min-width: 1120px) {
  body {
    width: 1120px;
    margin-left: 301px;
    margin-right: auto;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page__header {
    width: 1096px;
  }
  .header__upper-menu {
    display: none;
  }
  .header__main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 42px;
  }
  .header__desktop-header-menu {
    height: 40px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-header-menu__repair-menu-item-icon,
  .desktop-header-menu__check-status-menu-item-icon {
    margin-right: 32px;
  }
  .desktop-header-menu__repair-menu-item,
  .desktop-header-menu__check-status-menu-item {
    margin-right: 8px;
    text-decoration: none;
    color: #1b1c21;
    cursor: pointer;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 1063px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 0px;
  }
  .main__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 1120px;
    margin-right: 32px;
  }
  .hidden-text1,
  .hidden-text2 {
    display: block;
  }
  .article__paragraph {
    width: 490px;
    height: auto;
  }
  .article__image {
    width: 531.35px;
    height: 307px;
  }
  .upper-menu__divider-pad-view-pic,
  .upper-menu__call,
  .upper-menu__chat,
  .upper-menu__profile {
    display: none;
  }
}