@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Regular.woff") format("woff"),
    url("TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Medium.woff") format("woff"),
    url("TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Bold.woff") format("woff"),
    url("TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.swiper {
  width: 320px;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;

  justify-content: center;

  align-items: center;
}

.main__block2-title {
  font-family: "TT Lakes", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #7e7e82;
  padding: 16px 0 16px 32px;

  background-image: linear-gradient(to top, #f8f8f8, #ffffff);
  border-top: 1px solid #d9fff5;
}

.main__container1 .main__show-hide,
.main__container1,
.container__show-hide {
  display: none;
}

@media screen and (min-width: 719px) {
  .swiper {
    width: 0;
    height: 0;
  }
  .swiper {
    height: 0;
    width: 0;
  }
  .swiper-slide img {
    display: none;
  }
  .hidden {
    display: none;
  }
  .main__container1 {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 32px;
    row-gap: 16px;
    margin-top: 24px;
    margin-left: 32px;
  }
  .container1__item {
    width: 224px;
    height: 160px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    padding: 16px;

    display: flex;
    margin: 32px;
  }
  .container1__item-text {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
  }
  .container1__item-button {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 104px 16px 16px 184px;
  }
  .container__show-hide {
    display: flex;

    align-items: center;
    margin-left: 31px;
    margin-top: 24px;
  }
  .show-hide__button1 {
    color: #1b1c21;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
  }
  .show-hide__vector {
    margin-right: 8px;
  }
  .show-hide__vector {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 1336px) {
  .swiper {
    width: 0;
    height: 0;
  }
  .swiper-slide img {
    display: none;
  }
  .hidden {
    display: none;
  }
  .main__container1 {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    column-gap: 32px;
    row-gap: 16px;
    margin-top: 24px;
    margin-left: 32px;
  }
  .container1__item {
    width: 240px;
    height: 160px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    padding: 16px;

    display: flex;
    margin: 32px;
  }
  .container1__item-text {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
  }
  .container1__item-button {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 104px 16px 16px 184px;
  }
  .container__show-hide {
    display: flex;

    align-items: center;
    margin-left: 31px;
    margin-top: 24px;
  }
  .show-hide__button1 {
    color: #1b1c21;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
  }
  .show-hide__vector {
    margin-right: 8px;
  }
  .show-hide__vector {
    transform: rotate(180deg);
  }
}
